.vs/
x64/
Pagoda/x64/
/vendor/premake5/**
bin/
bin-int/
.vscode/
**/.DS_Store
Pagoda/vendor/glad/**/*.c
Pagoda/vendor/glad/**/*.h
Pagoda/vendor/lua/**/*.c
Pagoda/vendor/lua/**/*.h
Pagoda/vendor/lua/**/*.hpp